# for SSL Configuration
DOMAIN_NAME=domain_name
CERTBOT_EMAIL=emailaddress@email.com


APP_PORT=80                   # Port use to access the application

ADMINER_PORT=8000               # Port use to access Adminer

MYSQL_ROOT_PASSWORD=secret      # MySQL Root Password 
                                # When the container is created it will create a new Database with this settings
DB_DATABASE=app                 # Name of your database that will be created when the container is created
DB_USERNAME=sqluser             # Username of the database
DB_PASSWORD=secret              #