version: "3.5"

services:
  app:
    build:
      context: ./vm/php
      dockerfile: Dockerfile
    #    image: haroldcris/php7.4
    container_name: ${APP_NAME}-php7
    restart: unless-stopped
    volumes:
      - ./vm/php/local.ini:/usr/local/etc/php/conf.d/local.ini
      - ./code:/var/www


  webserver:
    image: nginx
    container_name: ${APP_NAME}-nginx
    restart: always
    ports:
      - ${APP_PORT}:80
      # - 443:443
    volumes:
      - ./vm/nginx/conf.d:/etc/nginx/conf.d/
      - ./code:/var/www


  adminer:
    image: adminer:latest
    container_name: ${APP_NAME}-adminer
    restart: always
    ports:
      - ${ADMINER_PORT}:8080


  db:
    image: mariadb
    container_name: ${APP_NAME}-mariadb
    restart: always
    environment:
      SERVICE_NAME: mariadb
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      TZ: Asia/Manila
    volumes:
      - ./vm/mysql/my.cnf:/etc/mysql/my.cnf
      - ./db:/var/lib/mysql
